/* Estilo global */
body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 20px;
    color: #474747;
}

/* Título da página */
h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 40px;
}

/* Container da galeria */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Estilo das imagens */
.gallery img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efeito ao passar o mouse sobre as imagens */
.gallery img:hover {
    transform: scale(1.45);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
/* fim */
p{
    color: rgb(255, 255, 255);
}
       

